.content-body{
  
}
.header{
  background-color: rgba(202, 202, 202, 0.952);
}

.header p{
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 15px;
}

.header h1{
  color: #0386A8;
}

.logo_link{
  font-size: 2em;
  text-decoration: none;
}

.logo_link:hover{
  text-decoration: none;
}

.header .navbar {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  font-family: 'Capriola', sans-serif;  
}

.header .navbar a {
  font-family: 'Capriola', sans-serif;
}

.header .btn{
  background-color: #2980B9;
  color: white;
  transition: .3s;
}

.header .btn:hover{
  background-color: #6DD5FA;
  box-shadow: 2px 2px 6px #7a7878cb;
}

.header .btn:active{
  background-color: #3d86a0;
  box-shadow: none;
}

.content-main{
  font-family: 'capriola', sans-serif;  
  text-align: center;
  margin: 6em auto 2em;
}

.content-main h1{
  color: #0386A8;
  font-size: 50px;
}

.content-main li{
  max-width: 50rem;
  text-align: center;
  margin: 6em auto 2em;
}

.footer{
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-top: 2px solid #0386A8;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom;
}

.footer a:hover{
  text-decoration: none;
}