body{
    width: 80%;
    background-color: aliceblue;
    margin: auto;
    font-family: 'montserrat', sans-serif;
}

.form-cadastro{
    max-width: 400px;
    margin: auto;
    width: 100%;
    padding-top: 50px;
    height: 200px;
}

.form-cadastro label{
    font-family: 'capriola', sans-serif;
}
