.content-body {
    background-color: rgb(255, 255, 255);
}

.header {
    background-color: rgba(202, 202, 202, 0.952);
}

.header p {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 15px;
}

.header h1 {
    color: #0386A8;
}

.logo_link {
    font-size: 2em;
    text-decoration: none;
}

.logo_link:hover {
    text-decoration: none;
}

.header .navbar {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    font-family: 'Capriola', sans-serif;
}

.header .navbar a {
    font-family: 'Capriola', sans-serif;
}

.header .btn {
    background-color: #2980B9;
    color: white;
    transition: .3s;
}

.header .btn:hover {
    background-color: #6DD5FA;
    box-shadow: 2px 2px 6px #7a7878cb;
}

.header .btn:active {
    background-color: #3d86a0;
    box-shadow: none;
}

.content-event {
    max-width: 60em;
    padding-top: 3em;
    margin: 3em auto;
    font-family: 'capriola', sans-serif;
}

.content-event h1,
h5 {
    color: #0386A8;
}

.img-event {
    max-width: 350px;
    max-height: 290px;
    width: auto;
    height: auto;
}

.btn {
    background-color: #2980B9;
    color: white;
    transition: .3s;
}

.btn:hover {
    background-color: #6DD5FA;
    box-shadow: 2px 2px 6px #7a7878cb;
    border: 1px #6DD5FA solid;
    color: white;
}

.btn:active {
    background-color: #3d86a0;
    box-shadow: none;
    color: white;
}

.footer {
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-top: 2px solid #0386A8;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom;
}

.footer a:hover {
    text-decoration: none;
}