@charset "UTF-8";

body {
	width: 100%;
	background-color: aliceblue;
	font-family: 'montserrat', sans-serif;
}

header .navbar {
	margin-bottom: 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.8);
	font-family: 'Capriola', sans-serif;
}

header .navbar a {
	font-family: 'Capriola', sans-serif;
}

.logo_link {
	font-size: 2em;
	text-decoration: none;
}

.logo_link:hover {
	text-decoration: none;
}

.form-cadastro {
	max-width: 60em;
	margin: 5em auto;
	align-items: center;
	width: 40%;
	font-family: 'capriola', sans-serif;
}

.form-cadastro h3 {
	font-family: 'capriola', sans-serif;
	color: #0386A8;
}

footer {
	width: 100%;
	/*background-image: url("../img/footer.jpg");*/
	background-color: white;
	border-top: 2px solid #0386A8;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: bottom;
}

.btn {
	background-color: #0386A8;
	color: white;
}
/*------------MEDIA-----------------*/
