.logo_link {
	font-size: 2em;
	text-decoration: none;
	color: #0386a8;
}

.logo_link:hover {
	text-decoration: none;
}

header .btn{
  background-color: #2980B9;
  color: white;
  transition: .3s;
}

header .btn:hover{
  background-color: #6DD5FA;
  box-shadow: 2px 2px 6px #7a7878cb;
}

header .btn:active{
  background-color: #3d86a0;
  box-shadow: none;
}